<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/public/sheet_logo.png"/>

    <!-- Axios & onDeduplicate -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>GSheets - Cartelis</title>
  </head>
  <body>
    <div style="margin:20px;">
      <h1>Tech Case - Cartelis</h1>
      <br/>
      <h2>List of GSheets</h2>
      <div id="checkboxes">
        <ul class="list-group">
          <% if (list) {%>
            <% for (var i = 0; i < list.length; i++) { %>
              <li class="list-group-item" style="width: 40%;">
                  <input type="checkbox" style="margin-right: 10px;" aria-label="Checkbox for following text input" id=<%= list[i].id%>>
                <%= list[i].title %></li>
            <% } %>
          <% } %>
          <% if (list.length == 0) {%>
            <h4>You don't have any GSheet file.</h4>
          <% }%>
        </ul>
      </div>
      <br/>
      <span id="d-span" style="visibility: hidden;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <button id="btn" onClick="onDeduplicate()" class="btn btn-success" type="button">
        Deduplicate
      </button>
      <br/>
      <p id="result" style="color:lightblue; visibility: hidden;"></p>
      <a class="btn btn-success" style="margin:20px;position:absolute;top:0;right:0;" onclick="" href="https://gsheets-cartelis.herokuapp.com/">Logout</a>
    </div>

    <script>
    function onDeduplicate() {
        //Show loader
        document.getElementById('d-span').style.visibility = "visible";
        document.getElementById('result').style.visibility = "hidden";
        document.getElementById('btn').setAttribute('disabled', true);
        //get the selected files
        var selected = [];
        $('#checkboxes input:checked').each(function() {
            selected.push($(this).attr('id'));
        });
        console.log(selected);
        
        //POST /api/gsheets
        axios.post('https://gsheets-cartelis.herokuapp.com/api/gsheets', {
            list: selected
        })
        .then((res) => {
            //Show result
            var result = document.getElementById('result');
            result.innerHTML = res.data;
            result.style.visibility = "visible";
            //Hide loader
            document.getElementById('d-span').style.visibility = "hidden";
            document.getElementById('btn').removeAttribute('disabled');
        })
        .catch((err) => {
            //Show result
            var result = document.getElementById('result');
            result.innerHTML = JSON.stringify(err.message);
            result.style.visibility = "visible";
            //Hide loader
            document.getElementById('d-span').style.visibility = "hidden";
            document.getElementById('btn').removeAttribute('disabled');
        })
    }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>